	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/07/2017 05:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot@") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-substract:before { content: "\f100"; }
.flaticon-add:before { content: "\f101"; }
.flaticon-research:before { content: "\f102"; }
.flaticon-stethoscope-1:before { content: "\f103"; }
.flaticon-stethoscope:before { content: "\f104"; }
.flaticon-heart:before { content: "\f105"; }
.flaticon-kidneys:before { content: "\f106"; }
.flaticon-down-arrow-direction:before { content: "\f107"; }
.flaticon-right-arrow:before { content: "\f108"; }
.flaticon-medical-2:before { content: "\f109"; }
.flaticon-technology-3:before { content: "\f10a"; }
.flaticon-technology-2:before { content: "\f10b"; }
.flaticon-shapes:before { content: "\f10c"; }
.flaticon-earth-grid:before { content: "\f10d"; }
.flaticon-calendar:before { content: "\f10e"; }
.flaticon-battery:before { content: "\f10f"; }
.flaticon-avatar-1:before { content: "\f110"; }
.flaticon-user-silhouette:before { content: "\f111"; }
.flaticon-minus-symbol:before { content: "\f112"; }
.flaticon-plus-symbol:before { content: "\f113"; }
.flaticon-vagina-1:before { content: "\f114"; }
.flaticon-neurology:before { content: "\f115"; }
.flaticon-vagina:before { content: "\f116"; }
.flaticon-lungs:before { content: "\f117"; }
.flaticon-cardiology:before { content: "\f118"; }
.flaticon-uploading-arrow-signal:before { content: "\f119"; }
.flaticon-triangle-inside-circle:before { content: "\f11a"; }
.flaticon-arrow-up:before { content: "\f11b"; }
.flaticon-clock:before { content: "\f11c"; }
.flaticon-technology-1:before { content: "\f11d"; }
.flaticon-interface:before { content: "\f11e"; }
.flaticon-church:before { content: "\f11f"; }
.flaticon-avatar:before { content: "\f120"; }
.flaticon-drink:before { content: "\f121"; }
.flaticon-transport:before { content: "\f122"; }
.flaticon-ribbon:before { content: "\f123"; }
.flaticon-medical-1:before { content: "\f124"; }
.flaticon-smile:before { content: "\f125"; }
.flaticon-medical:before { content: "\f126"; }
.flaticon-agenda:before { content: "\f127"; }
.flaticon-pin:before { content: "\f128"; }
.flaticon-technology:before { content: "\f129"; }
.flaticon-phone:before { content: "\f12a"; }